{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "targets": {
          "node": "8.4"
        }
      }
    ]
  ],
  "plugins": ["transform-object-rest-spread", "transform-class-properties"]
}
