{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "targets": {
          "node": "14"
        },
        "exclude": ["proposal-dynamic-import"]
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
